<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>flowspace</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

    <script src="source.js"></script>
    <link rel="stylesheet" href="styles.css">
  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script src="jquery.gridster.min.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="jquery.gridster.min.css">

    <script src="angular-gridster.min.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="angular-gridster.min.css">

</head>

<nav style="background-color: #039BE5">
    <div class="nav-wrapper">
        <a class="brand-logo">flowspace</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li class="boxhead"><a href="http://github.com/comp0cker/flowspace" target="_blank"><i class="material-icons left">code</i>View Source</a></li>
        </ul>
    </div>
</nav>

<body class = "container" ng-app="mainApp" ng-controller="mainCtrl">

<div class ="row">
    <div class="col">
        <div class="card-panel">
          <div class="row">
                <div class="input-field col s3">
                    <i class="material-icons prefix">web</i>
                    <input id="url" ng-model="url" type="text" class="validate" required>
                    <label for="url" data-error="Please insert at least one link.">URL</label>
                </div>

                <div class="input-field col s3">
                    <i class="material-icons prefix">computer</i>
                    <select id = "monitorselect">
                        <option value="1">Monitor 1</option>
                    </select>
                    <label>Monitor</label>
                </div>
          </div>

          <span><a href ng-click="add()" style="color:white" class="addScreen waves-effect waves-light btn"><i class="material-icons left">add</i>add website</a></span>
        </div>
    </div>

    <div class="col">
        <div class="card-panel">
            <h5 style="margin-top:6px">Configure multiple monitors</h5>
            <p>If you have more then one monitor, please drag this window to the new monitor.</p>
            <a style="color:white" ng-click="addMonitor()" class="waves-effect waves-light btn"><i class="material-icons left">add</i>add monitor</a>
        </div>
    </div>

</div>

<div class="cardContainer">
    <div class="card-panel aCard">
     <h5>Monitor 1</h5>
        <p class="initMonitor"></p>
              <!--
              <span ng-show="editEnabled"><a href ng-click="disableEditing() ">Disable Editing</a></span><span ng-hide="editEnabled"><a href ng-click="enableEditing() ">Enable Editing</a></span>
              -->
              <div gridster="gridsterOpts" class="unselectable">
                  <ul>
                      <li class="widget" gridster-item="item" ng-repeat="item in items">
                          <div class="widgetHeader ">{{item.name}}
                              <span class="remove">
                                  <a href ng-show="editEnabled" ng-click="remove($index)">X
                                  </a>
                              </span>
                          </div>
                          {{windowWidth * item.sizeX / gridWidth}}x{{windowHeight * item.sizeY / gridHeight}} <br>
                          Width: {{item.sizeX / gcd(item.sizeX, gridWidth)}}/{{gridWidth / gcd(item.sizeX, gridWidth)}}
                          Height: {{item.sizeY / gcd(item.sizeY, gridHeight)}}/{{gridHeight / gcd(item.sizeY, gridHeight)}}
                          <!--{{standardItems[$index]}}-->
                      </li>
                  </ul>
              </div>
      </div>
    </div>

<div class="card-panel">
    <div class="row">
        <div class="input-field col s12">
            <i class="material-icons prefix">account_circle</i>
            <input id="username" type="text" class="validate" required>
            <label id="usernameLabel" data-error="Please enter a username.">Username</label>
        </div>
    </div>

    <a style="color:white" class="waves-effect waves-light btn" ng-click="generate()">download</a>
</div>

<div class="chip">
    <img src="profile.png" alt="Contact Person">
    Made by Jared Grimes
</div>
</body>
</html>
