.widgetHeader{
  width: 100%;
  background: #ddd;
  box-sizing:border-box;
  padding: 10px;
}
.widgetHeader .remove a{
  color:red;
float:right;
}
.header{height:30px;}

*.unselectable {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.grids {
  background: seagreen;
  width: 400px;
  height: 500px;
}