.widgetHeader{
  width: 100%;
  background: #ddd;
  box-sizing:border-box;
  padding: 10px;
}
.widgetHeader .remove a{
  color:red;
float:right;
}
.header{height:30px;}

*.unselectable {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.gridster .gridster-item {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.gridster .gridster-item-drag {
  color: black;
}

.boxhead a {
  color: #FFFFFF;
  text-decoration: none;
}

.nav-wrapper {
  margin-left: 10px;
  margin-right: 10px;
}